<!DOCTYPE html>
<html lang="ko">

<head>
    <title>구매하기</title>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%= stylesheet_link_tag "bulma.min" %>

    <script src="https://js.tosspayments.com/v1"></script>
</head>

<body>

    <section class="hero is-link">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    토스페이먼츠 연동 샘플
                </h1>

            </div>
        </div>
    </section>
    <section class="section ">
        <div class="container">
            <button class="button is-link" onclick="location.href='/payment/index';">결제(일반)</button>
            <button class="button is-link" onclick="pay('카드',jsons.card);">결제(빌링)</button>
            <button class="button is-link" onclick="pay('가상계좌',jsons.vaccount);">(API)정산대사</button>
            <button class="button is-link" onclick="pay('계좌이체',jsons.transfer);">(API)거래대사</button>
            <button class="button is-link" onclick="pay('휴대폰',jsons.phone);">(API)프로모션</button>
            <button class="button is-link" onclick="pay('문화상품권',jsons.certificate);">(API)현금영수증</button>
        </div>
    </section>

</body>

</html>